

<ion-content class="ion-padding">
<ion-searchbar 
      placeholder='Search...' 
      [(ngModel)]="test" 
      (change)="search($event)" 
      >
    </ion-searchbar>
    <br>
  <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
    (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
    <ion-slide *ngFor="let s of sliderOne.slidesItems">
      <img [src]="s.img">
    </ion-slide>
  </ion-slides>
  <br>

  <ion-segment 
    [(ngModel)]="type" 
    (ionChange)="segmentChanged($event)" 
    scrollable 
    value="featured" >
    <ion-segment-button value="featured" checked>
      <ion-label>Featured Songs</ion-label>
      <!-- <ion-icon name="cash"></ion-icon> -->
    </ion-segment-button>
    <ion-segment-button value="mostDownloaded">
      <ion-label>Most Downloaded</ion-label>
      <!-- <ion-icon name="log-out"></ion-icon> -->
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type" class="testList">
    <ion-list *ngSwitchCase="'featured'">
      <ion-item *ngFor="let item of featuredList" [routerLink]="['/','home','tabs',  'music', 'music-lists', 'music-select', item.id ]">
        <!-- <ion-icon slot="start" name="musical-notes-outline"></ion-icon> -->
        <ion-label>
          <ion-text [innerHTML]="item.title"></ion-text>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'mostDownloaded'">
      <ion-item *ngFor="let item of downloadedList" [routerLink]="['/','home','tabs',  'music', 'music-lists', 'music-select', item.id ]">
        <!-- <ion-icon slot="start" name="musical-notes-outline"></ion-icon> -->
        <ion-label>
          <ion-text [innerHTML]="item.title"></ion-text> 
          <ion-badge slot="end" color="primary">{{item.no_downloads}}</ion-badge>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
