<ion-content>
  <div class="avatar">
    <ion-img src="assets/img/logo.png"></ion-img>
  </div>
  <div class="content">
    <ion-item-divider>
      <h4>Login to your Account</h4>
    </ion-item-divider>
    <form #form="ngForm" (ngSubmit)="LoginForm(form)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type='text' [(ngModel)]="login.username" name="username" required #usernameCtrl="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Password</ion-label>
      <ion-input type='password' [(ngModel)]="login.password" name="password" required #passwordCtrl="ngModel"></ion-input>
    </ion-item>
  
    <div class="forgot">
      <a href="https://www.google.com">Forgot Password?</a>
    </div>
    <ion-button color="primary" type="submit" expand="block" [disabled]="!form.valid" >Sign In</ion-button>
  </form>
    <!-- routerLink='/home/tabs' -->
    <br>

    <p style="text-align: center;">New user? <span><a routerLink="/register">Sign up</a></span></p>




  </div>
</ion-content>