<ion-content>
  <div class="avatar">
    <ion-img src="assets/img/logo.png"></ion-img>
  </div>
  <div class="content">
    <ion-item-divider>
      <h4>Login to your Account</h4>
    </ion-item-divider>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type='email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type='password'></ion-input>
    </ion-item>
    <div class="forgot">
      <a href="">Forgot Password?</a>
    </div>
    <ion-button color="primary" expand="block" routerLink='/home/tabs'>Sign In</ion-button>
    <br>

    <p style="text-align: center;">New user? <span><a routerLink="/register">Sign up</a></span></p>




  </div>
</ion-content>