a{
  text-decoration: none;
}

.avatar{
  width: 180px !important;
  margin: 6vh auto;
}
.content{
  margin: 0 30px;
}

.forgot{
  text-align: right;
  font-size: .8em;
  margin: 15px 0;
}
.forgot a {
  text-decoration: none;
}
