<ion-content>
  <div class="avatar">
    <ion-img src="assets/img/logo.png"></ion-img>
  </div>
  <div class="content">
     <ion-item-divider>
       <h4>Create an Account</h4>
     </ion-item-divider>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type='email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type='password'></ion-input>
    </ion-item>
     <ion-item>
       <ion-label position="floating">Confirm Password</ion-label>
       <ion-input type='password'></ion-input>
     </ion-item>

    <ion-button color="primary" expand="block">Sign Up</ion-button>
    <br>

    <p style="text-align: center;">Existing user? <span><a routerLink="/login" router-direction='back'>Sign
          in</a></span></p>




  </div>
</ion-content>