ion-content {
  background: #eeeeee;
  // --background: url('../../assets/img/bagd.png')50% 75%/170% 120%;
}

ion-card {
  margin: 8px !important;
}

.heading {

  width: 100% !important;
  height: 40% !important;
  background: url('../../assets/img/obaorin.jpg')45% 100%/130% 96%;
  background-color:#03028c !important;
  // padding-top: 22px;

}
.avartar {
 overflow: hidden;
 width: 50px !important;
 height: 50px !important;
 margin: 0 auto;
 border: 1px solid #eee;
 border-radius: 50%;
}

.center {
  display: grid;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 10px 0px 0px 0;
}


.container {
 margin-top: 10%;
}
ion-col {
  --ion-grid-column-padding: 0 !important;
}

// .h3 {
//   font-size: 18px !important;
// }
ion-icon {
  font-size: 60px;
}
ion-icon {
  color: #1a0497;
}
ion-card{
  border-radius: 35px !important;
}
ion-card-content{
  padding: 30px 20px;
  text-align: center;
  color: #0a0a0a;
}