<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/lyrics"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ lyricsTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding text-center">
  <div id="lyricsContent" [innerHTML]="lyricsContent">
   <!-- {{ lyricsContent }} -->
  </div>
  
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveLyrics()" >
      <ion-icon name="download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
