
<ion-content class="ion-padding">

  <ion-searchbar 
      placeholder='Search...' 
      [(ngModel)]="test"
      (change)="search($event)" 
      >
    </ion-searchbar>
    <br>

    <div class="border" *ngIf="lyricsList">
      <ion-list >
      <ion-item *ngFor="let item of list" [routerLink]="['/home', 'tabs', 'lyrics', 'lyrics-detail', item.id]" routerLinkActive="router-link-active" >
        <ion-label [innerHTML]="item.title">
        </ion-label>
      </ion-item>
      
    </ion-list>
    </div>
    


</ion-content>
