<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/music"></ion-back-button>
    </ion-buttons>
    <ion-searchbar placeholder='Search...' [(ngModel)]="test" (change)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of list" [routerLink]="['/','home','tabs',  'music', 'music-lists', 'music-select', item.id ]">
      <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
      <ion-label>
        <ion-text [innerHTML]="item.title"></ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
