<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="header">
    <ion-toolbar>
      <ion-title>Account Information</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()"  fill="clear">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div class="content">
    
    <br><br>
    <!-- <h3>Solagbade Jonathan</h3> -->
    <h4>{{subscribeText}}</h4>
    <p>{{subscription_expiry}}</p>
    
    <div *ngIf="subscribe" > 
      <br>
      <div class="subscribe" >
        <ion-button expand="block" size="large" (click)="generateAccount()"  color="primary">Subscribe</ion-button>
      </div>
    </div>
    <div *ngIf="details" >
      <div class="subscribe" >
        <div style="border: 1px solid red;">
          <ion-text class="small">Please pay to the following account to subscribe</ion-text>
        <h4>Providus Bank</h4>
        <h3>{{account_number}}</h3>
        <h4>₦300/month</h4>
        <!-- <h4>₦1,500/6months</h4> -->
        <!-- <h4>₦3,000/year</h4> -->
        </div> 
      </div>
    </div>
    
  </div>
  <ion-card style="text-align: center;">
    <ion-card-content>
      <h1>Account Details</h1>
    </ion-card-content>
  </ion-card>

  <div class="list">
  <ion-list>
    <ion-item>
      <ion-label>{{name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{phone}}</ion-label>
    </ion-item>
  </ion-list>
</div>

  
</ion-content>
